{% extends 'base.html' %}

{%  block newresume  %}<!-- fill block in base -->
    <br>
      <ul class="nav justify-content-center nav-pills">
      <li class="nav-item">
        <a class="nav-link" style="color: #FFFFFF" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FFFFFF" href="/contact">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" style="background-color: #9d84db" aria-current="page" href="#">THIS one</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FFFFFF" href="/contact">Contact</a>
      </li>
    </ul>
    <br>
{%  endblock %}