{% extends 'base.html' %}

{%  block contact  %}<!-- fill block in base -->
<br>

      <ul class="nav justify-content-center nav-pills">
      <li class="nav-item">
        <a class="nav-link" style="color: #FFFFFF" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FFFFFF" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FFFFFF" href="/resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" style="background-color: #2d637f" aria-current="page" href="#">Contact</a>
      </li>
    </ul>
    <br><br>

    <div style="margin: 0 auto; border: 2px solid white; border-radius: 25px; padding: 20px; text-align: center; color:white">
      <a>📧 charlottelaw@berkeley.edu</a><br>
      <a>📞 +1 (925) 858-0533</a>
    </div>
{%  endblock %}