{% extends 'base.html' %}

{%  block newresume  %}<!-- fill block in base -->
    <br>
      <ul class="nav justify-content-center nav-pills">
      <li class="nav-item">
        <a class="nav-link" style="color: #FFFFFF" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FFFFFF" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" style="background-color: #2d637f" aria-current="page" href="#">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FFFFFF" href="/contact">Contact</a>
      </li>
    </ul>
    <br><br>
<iframe src="https://drive.google.com/file/d/1QAkgvLYd1nLvyBD70TxzDPOs_RgeRd_Q/preview" width="900px" height="1000px"></iframe>

<!--<embed src="https://jmp.sh/RIAZ8KwX#zoom=FitH" type="application/pdf" trusted="yes" title="Assembly" width="800px" height="920px"> -->

<br>
<div>
    <a style="color:white;">You can also </a><a style="font-style:bold; color:#559ec2" href="https://drive.google.com/file/d/1WMQlypMx8hCRArw7XZCTo7Fu-z0rXQkT/preview">download</a><a style="color:white;"> a PDF copy.</a>
    </div>
{%  endblock %}