{% extends 'base.html' %}

{%  block projects  %}<!-- fill block in base -->

    <br>
      <ul class="nav justify-content-center nav-pills">
      <li class="nav-item">
        <a class="nav-link" style="color: #FFFFFF" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" style="background-color: #2d637f" aria-current="page" href="#">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FFFFFF" href="/resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #FFFFFF" href="/contact">Contact</a>
      </li>
    </ul>
    <br>

<br>
{%  endblock %}

{%  block projects2  %} <!-- WORKING, not using Django admin as of Aug 13 -->
{% for project in projects %}
<a href="{{project.project_url}}">
<div class="card1 mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-5" style="padding-left: 15px; border-right: 1px solid #3e3f40; margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto; ">
      <img src="{{project.image_url}}" style="border-radius: 25px; padding:15px; object-fit: cover; height: 220px; width: 100%; overflow: hidden; margin: auto;" class="card-img-top" alt="...">
    </div>
    <div class="col-md-4" style="border-right: 1px solid #3e3f40;">
      <div class="card-body" style="padding: 15px">
        <h5 class="card-title" style="color:white">{{project.name}}</h5>
        <p class="card-text" style="color:#e6e3e3">{{project.description}}</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-body" style="padding: 15px; padding-right: 23px">
        <h5 class="card-title" style="color:white">Skills</h5>
        <p class="card-text" style="color:#e6e3e3">{{project.skills}}</p>
      </div>
    </div>

  </div>
</div>
  </a>
<br>
{% endfor %}
{%  endblock %}



{%  block projects3  %} <!-- WORKING, in use as of Aug 13 -->
<a href="https://www.im-creator.com/free/teamsaturn/saturn">
<div class="card1 mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-5" style="padding-left: 15px; border-right: 1px solid #3e3f40; margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto; ">
      <img src="https://i.ibb.co/0mnpT7d/Saturn-Poster-pptx-1.png" style="border-radius: 25px; padding:15px; object-fit: cover; height: 230px; width: 100%; overflow: hidden; margin: auto;" class="card-img-top" alt="...">
    </div>
    <div class="col-md-4" style="border-right: 1px solid #3e3f40;">
      <div class="card-body" style="padding: 15px">
        <h5 class="card-title" style="color:white">Biomedical Engineering Intern at Stanford University</h5>
        <p class="card-text" style="color:#e6e3e3">Prototyped, designed, and 3D modeled a novel medical device with two attachable modules to make epinephrine administration easy, safe, and painless during a life-threatening emergency.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-body" style="padding: 15px; padding-right: 23px">
        <h5 class="card-title" style="color:white">Skills</h5>
        <p class="card-text" style="color:#e6e3e3">Biomedical Engineering, Biodesign, Medical Device Instrumentation, Electronic Integration, 3D Modeling, CADing, C++ Programming, Microcontrollers</p>
      </div>
    </div>

  </div>
</div>
  </a>
<br>

<a href="https://magic-lifescience.com/technology/">
  <div class="card1 mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-5" style="padding-left: 15px; border-right: 1px solid #3e3f40; margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto; ">
        <img src="https://pbs.twimg.com/profile_banners/1534325697585352704/1654717858/1500x500" style="border-radius: 25px; padding:15px; object-fit: cover; height: 220px; width: 100%; overflow: hidden; margin: auto;" class="card-img-top" alt="...">
      </div>
      <div class="col-md-4" style="border-right: 1px solid #3e3f40;">
        <div class="card-body" style="padding: 15px">
          <h5 class="card-title" style="color:white">3D Modeling & Animation Intern at Magic LifeScience</h5>
          <p class="card-text" style="color:#e6e3e3">3D modeled the company's patented molecular diagnostic device and animated the on-chip PCR on GMR nano-sensor technology. The animation is live on their website!</p>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card-body" style="padding: 15px; padding-right: 23px">
          <h5 class="card-title" style="color:white">Skills</h5>
          <p class="card-text" style="color:#e6e3e3">3D Modeling, Blender, Computer-Aided Design (CAD), 3D Animation, Biotechnology</p>
        </div>
      </div>
  
    </div>
  </div>
</a>
<br>

<a href="https://github.com/CharlotteLaw/Chatbot">
    <div class="card1 mb-3" style="max-width: 1000px;">
      <div class="row g-0">
        <div class="col-md-5" style="padding-left: 15px; border-right: 1px solid #3e3f40; margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto; ">
          <img src="https://user-images.githubusercontent.com/69742430/244322572-155f7055-6bd4-4b3e-a5dd-a167f23e7c3d.png" style="border-radius: 25px; padding:15px; object-fit: cover; height: 220px; width: 100%; overflow: hidden; margin: auto;" class="card-img-top" alt="...">
        </div>
        <div class="col-md-4" style="border-right: 1px solid #3e3f40;">
          <div class="card-body" style="padding: 15px">
            <h5 class="card-title" style="color:white">Chatbot</h5>
            <p class="card-text" style="color:#e6e3e3">Developed a personal chatbot/virtual assistant utilizing the GPT-3 open-source language model.</p>
          </div>
        </div>
    
        <div class="col-md-3">
          <div class="card-body" style="padding: 15px; padding-right: 23px">
            <h5 class="card-title" style="color:white">Skills</h5>
            <p class="card-text" style="color:#e6e3e3">Python, Flask, MySQL, API Integration, Open AI, HTML, CSS</p>
          </div>
        </div>
    
      </div>
    </div>
</a>
<br>

<a href="https://github.com/CharlotteLaw/Data-Science-on-Dogs">
  <div class="card1 mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-5" style="padding-left: 15px; border-right: 1px solid #3e3f40; margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto; ">
        <img src="https://user-images.githubusercontent.com/69742430/260327800-6ad7697a-8401-4447-bc9e-e03dee3f4ded.png" style="border-radius: 25px; padding:15px; object-fit: cover; height: 220px; width: 100%; overflow: hidden; margin: auto;" class="card-img-top" alt="...">
      </div>
      <div class="col-md-4" style="border-right: 1px solid #3e3f40;">
        <div class="card-body" style="padding: 15px">
          <h5 class="card-title" style="color:white">Data Science on Dogs</h5>
          <p class="card-text" style="color:#e6e3e3">Utilized data science and data visualization to perform analysis on a dog dataset sourced from the AKC (American Kennel Club). </p>
          <p class="card-text" style="color:#e6e3e3">CS Kickstart @ UC Berkeley </p>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card-body" style="padding: 15px; padding-right: 23px">
          <h5 class="card-title" style="color:white">Skills</h5>
          <p class="card-text" style="color:#e6e3e3">Data Science, Pandas, Numpy, Matplotlib, Jupyter Notebook, Data Analysis and Visualization</p>
        </div>
      </div>
  
    </div>
  </div>
</a>
<br>

<a href="https://github.com/CharlotteLaw/Weatherly">
      <div class="card1 mb-3" style="max-width: 1000px;">
        <div class="row g-0">
          <div class="col-md-5" style="padding-left: 15px; border-right: 1px solid #3e3f40; margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto; ">
            <img src="https://user-images.githubusercontent.com/69742430/249253301-a0b842f0-8643-4aa6-ac05-9014febcb02d.png" style="border-radius: 25px; padding:15px; object-fit: cover; height: 220px; width: 100%; overflow: hidden; margin: auto;" class="card-img-top" alt="...">
          </div>
          <div class="col-md-4" style="border-right: 1px solid #3e3f40;">
            <div class="card-body" style="padding: 15px">
              <h5 class="card-title" style="color:white">Weatherly</h5>
              <p class="card-text" style="color:#e6e3e3">Developed a web app that allows users to get information about the current temperature and weather condition of any city of choice.</p>
            </div>
          </div>
      
          <div class="col-md-3">
            <div class="card-body" style="padding: 15px; padding-right: 23px">
              <h5 class="card-title" style="color:white">Skills</h5>
              <p class="card-text" style="color:#e6e3e3">Javascript, Node.js, EJS, HTML, CSS, API Integration</p>
            </div>
          </div>
      
        </div>
      </div>
    </a>
<br>

<a href="https://github.com/CharlotteLaw/cs043_final_project/">
  <div class="card1 mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-5" style="padding-left: 15px; border-right: 1px solid #3e3f40; margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto; ">
        <img src="https://user-images.githubusercontent.com/69742430/260327524-470023c1-628a-4155-929d-b647e19c34f6.png" style="border-radius: 25px; padding:15px; object-fit: cover; height: 220px; width: 100%; overflow: hidden; margin: auto;" class="card-img-top" alt="...">
      </div>
      <div class="col-md-4" style="border-right: 1px solid #3e3f40;">
        <div class="card-body" style="padding: 15px">
          <h5 class="card-title" style="color:white">Tic Tac Toe</h5>
          <p class="card-text" style="color:#e6e3e3">A full stack Tic Tac Toe game developed with Python for 2 players that runs locally. Register, login, and play against each other on two different devices!</p>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card-body" style="padding: 15px; padding-right: 23px">
          <h5 class="card-title" style="color:white">Skills</h5>
          <p class="card-text" style="color:#e6e3e3">Python (using cookies, creating game server, using python database API), HTML/CSS, Game Design, Game Algorithm</p>
        </div>
      </div>
  
    </div>
  </div>
</a>
<br>

{%  endblock %}
